.scene {
  width: 100px;
  height: 100px;
  perspective: 600px;
  margin: 20px auto;
}
.cube {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  animation: rolling 3s infinite linear;
}
.cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0.5;
}

.cube-face-front {
  background-color: yellow;
  transform: translate3d(0, 0, 50px);
}

.cube-face-back {
  background-color: red;
  transform: rotateY(180deg) translate3d(0, 0, 50px);
}

.cube-face-left {
  background-color: green;
  transform: rotateY(-90deg) translate3d(0, 0, 50px);
}

.cube-face-right {
  background-color: blue;
  transform: rotateY(90deg) translate3d(0, 0, 50px);
}

.cube-face-top {
  background-color: orange;
  transform: rotateX(90deg) translate3d(0, 0, 50px);
}

.cube-face-bottom {
  background-color: black;
  transform: rotateX(-90deg) translate3d(0, 0, 50px);
}
@-webkit-keyframes rolling {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
  }
}
@keyframes rolling {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.cube-face-inner {
  margin: 25%;
}
