body {
  font-family: 'Ubuntu', Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  color: #12343b;
  background-color: #eeeeee;
  height: 100vh;
}

#app {
  display: flex;
  height: 100%;
}

#app side {
  padding: 12px;
  width: 200px;
}

#app main {
  padding: 12px;
  flex: 1;
}

#avatar {
  width: 100%;
  text-align: center;
}

#avatar img{
  width: 120px;
  height: 120px;
  border: 1px solid #c89666;
  padding: 2px;
  border-radius: 60px;
}

ul {
  list-style: none;
  padding: 0;
}

img.icon {
  height: 1rem;
  margin-bottom: -4px;
}

.bar {
  height: 1rem;
  border: 1px solid #c89666;
  border-radius: 4px;
}

.bar-value {
  background-color: #e1b382;
  height: 100%;
}


section > div {
  margin-left: 24px;
}

#experience h3 {
  display: inline-block;
  margin: 0;
  margin-bottom: 0;
}

#experience div ul {
  margin-top: 0;
  padding-left: 4px;
  border-left: 1px solid lightgray;
}

#experience div ul li {
  padding: 2px 0;
}

/* 如果螢幕寬度為 600px 以下 */
@media screen and (max-width:600px) { 
  #app {
    padding: 6px;
    display: block;
  }
}

