:root {
  --sand-tan-rgb: 225, 179, 130;
  --sand-tan-color: rgb(var(--sand-tan-rgb));
  --sand-tan-color-a: rgba(var(--sand-tan-rgb), 0.7);
  --sand-tan-shadow-color: rgb(200, 150, 102);
  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}

body {
  font-family: var(--font-family-base);
  font-size: 16px;
  margin: 0;
  color: #12343b;
  background-color: #e9f0f5;
}

#app {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
}

#app side {
  display: block;
  padding: 12px;
  flex: 0 1 220px; 
}

#app side #skill-box {
  position: sticky;
  top: 0;
}

#app side #skill-box > h3{
  margin: 0;
}

#app side #skill-box > #skills{
  margin: 0;
}

#app side #skill-box > #skills li{
  margin-bottom: 2px;
}

#app side #skill-box > #skills li span{
  margin-left: 6px;
}

#app side #skill-box > #skills li .bar{
  margin-top: -20px;
}

#app main {
  padding: 12px;
  flex: 1;
}

#avatar {
  width: 100%;
  text-align: center;
}

#avatar img{
  width: 120px;
  height: 120px;
  border: 1px solid var(--sand-tan-shadow-color);
  padding: 2px;
  border-radius: 60px;
}

ul {
  list-style: none;
  padding: 0;
}

img.icon {
  height: 1rem;
  margin-bottom: -4px;
}

.bar {
  height: 1rem;
  border: 2px solid #c89666;
  border-radius: 4px;
}

.bar-value {
  background-color: var(--sand-tan-color-a);
  height: 100%;
}


section > div {
  margin: 12px;
}

#experiences h3 {
  display: inline-block;
  margin: 0;
  margin-bottom: 0;
}

#experiences div ul {
  margin-top: 0;
  padding-left: 4px;
  border-left: 1px solid lightgray;
}

#experiences div ul li {
  padding: 2px 0;
}

#experiences div ul li::before {
  content: "\2022";
  color: var(--sand-tan-shadow-color);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
}

#experiences div ul li small {
  color: var(--sand-tan-color);
}

#educations p {
  margin: 0;
}

#works img {
  margin: 4px 6px;
  width: calc(100% - 12px);
  border-radius: 6px;
}

#soruce-code ul{
  margin: 0 1rem;
}

#soruce-code ul ul{
  margin: .2rem 2rem;
}

#soruce-code .soruce-code-features {
  color: var(--sand-tan-shadow-color);
}
#soruce-code img {
  width: 90%; 
}

.card {
  border: 1px solid var(--sand-tan-shadow-color);
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 6px;
}

.card .card-head {
  padding: 6px;
  background-color: var(--sand-tan-color);
}

.card .card-foot {
  padding: 2px 6px;
}

/* 如果螢幕寬度為 600px 以下 */
@media screen and (max-width:600px) { 
  #app {
    padding: 6px;
    display: unset;
  }

  #app side #skill-box {
    position: unset;
  }
}

