:root {
  --sand-tan-color: #e1b382;
  --sand-tan-shadow-color: #c89666;
}

body {
  font-family: 'Ubuntu', Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  color: #12343b;
  background-color: #e9f0f5;
}

#app {
  max-width: 1100px;
  margin: 0 auto;
}

#app side {
  padding: 12px;
  width: 200px;
  position: fixed;
  
}

#app main {
  padding: 12px;
  margin-left: 200px;
}

#avatar {
  width: 100%;
  text-align: center;
}

#avatar img{
  width: 120px;
  height: 120px;
  border: 1px solid var(--sand-tan-shadow-color);
  padding: 2px;
  border-radius: 60px;
}

ul {
  list-style: none;
  padding: 0;
}

img.icon {
  height: 1rem;
  margin-bottom: -4px;
}

.bar {
  height: 1rem;
  border: 1px solid #c89666;
  border-radius: 4px;
}

.bar-value {
  background-color: var(--sand-tan-color);
  height: 100%;
}


section > div {
  margin: 12px;
}

#experiences h3 {
  display: inline-block;
  margin: 0;
  margin-bottom: 0;
}

#experiences div ul {
  margin-top: 0;
  padding-left: 4px;
  border-left: 1px solid lightgray;
}

#experiences div ul li {
  padding: 2px 0;
}

#educations p{
  margin: 0;
}

#works img {
  margin: 4px 6px;
  width: calc(100% - 12px);
  border-radius: 6px;
}

.card {
  border: 1px solid var(--sand-tan-shadow-color);
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 6px;
}

.card .card-head {
  padding: 6px;
  background-color: var(--sand-tan-color);
}

.card .card-foot {
  padding: 2px 6px;
}

/* 如果螢幕寬度為 600px 以下 */
@media screen and (max-width:600px) { 
  #app {
    padding: 6px;
  }

  #app side {
    position: unset;
  }

  #app main {
    margin-left: 0;
    padding: 0;
  }
}

